#parallax-one, #parallax-three, #parallax-five {
  background-image: url('./../images/friends-laughing.jpg');
}
#parallax-two, #parallax-four {
  background-image: url('./../images/color-qr-code.jpg');
}


.parallax {
  #parallax-two {
    opacity: 0.65;
  }
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  .phone-wrapper {
    position: relative;

    .Iphone {
      display: none;
      position: absolute;
      background: url('./../images/iphone.png') center center/cover;
      height: 80vh;
      width: 40vh;
      left: 50px ;

      &.animation-slide-in-left {
        @include animation(0, 1.5s, animation-slide-in-left, ease);

      }
    }
  }
}
